.visualization-box {
    background: #2C2C2C;
    color: white;
}

.sidebar {
    background: #424855;
    color: white;
}

div#fake-header {
    background: #B2B2B2;
}

.choice-filter .suggestion:focus, .choice-filter .suggestion:hover:not(:active) {
    color: black;
}

input {
    background: none;
    color: white;
    border: 1px solid#919191;
}

.plot-box {
    border: 1px solid gray;
    box-shadow: 1px 1px 1px #414141;
}