<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HEPData Explore</title>
    <script src="lib/babel-polyfill.js"></script>
    <script src="lib/knockout-3.4.0.debug.js"></script>
    <script src="lib/knockout-es5.js"></script>
    <script src="lib/knockout-fast-foreach.js"></script>
    <script src="lib/lunr.js"></script>
    <script src="lib/jquery-1.12.1.js"></script>
    <script src="lib/lodash.js"></script>
    <script src="lib/dragula.js"></script>
    <script src="lib/knockout-dragula.js"></script>
    <script src="lib/knockout-error-context.js"></script>
    <script src="lib/bluebird.js"></script>
    <script src="lib/d3.js"></script>
    <script src="lib/d3-transform.js"></script>
    <script src="lib/knockout-template.js"></script>
    <script src="lib/crossfilter-ntrrgc.js"></script>
    <script src="lib/dc.js"></script>
    <script src="lib/map2.js"></script>
    <script src="lib/gl-matrix.js"></script>
    <script src="lib/stable-stringify.js"></script>
    <script src="lib/sha256.js"></script>
    <script src="lib/setImmediate.js"></script>
    <link rel="stylesheet" href="invenio.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <script>
        if (localStorage.getItem('dark')) {
            $('head').append($('<link/>', {
                rel: 'stylesheet',
                href: 'dark.css',
            }));
        }
    </script>
</head>
<body>

<div id="fake-header">
    <img src="img/hepdata_logo.svg" alt="" height="54">
</div>

<div class="hep_breadcrumbs">
    <ul>
        <li id="topbar-title">Data Query Engine</li>
        <li id="data-point-count">
            <span class="number-display">0</span> data points found.
        </li>
        <li class="pull-right">
            <a id="download-yaml" class="btn btn-primary" href="#">Download selection (YAML)</a>
        </li>
    </ul>
</div>

<div class="explore-body">

    <div class="sidebar">

        <filter-shell params="{filter: rootFilter}"></filter-shell>

    </div>


    <div class="visualization-box">
        <div id="visualization" data-bind="visible: !firstLoad || !isLoading()">
            <div id="variable-charts">
                <hep-bubble>
                    <div style="overflow: scroll; height: 100px;">
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                        <p>I'm harder to program than I look!</p>
                    </div>
                    <b>I'm harder to program than I look!</b>
                </hep-bubble>
                <hep-plot-pool params="
                    plotPool: plotPool,
                    tableCache: tableCache
                "></hep-plot-pool>
            </div>
        </div>
        <div id="visualization-loading" data-bind="visible: firstLoad && isLoading()">
            <div class="loading-box">
                <h2>Please wait...</h2>
                <div>
                    <i id="loading-downloading"
                       class="fa fa-arrow-right loading-arrow"></i>
                    Downloading data
                </div>
                <div>
                    <i id="loading-processing"
                       class="fa fa-arrow-right loading-arrow"
                       data-bind="style: {visibility: isRendering() ? 'visible' : 'hidden'}"></i>
                    Rendering data
                </div>
            </div>
        </div>
    </div>

</div>

<div id="fake-footer">HEPData Explore</div>

<script id="suggestionsBox" type="text/html">
    <ul class="suggestions">
        <% _.each(autocomplete.suggestions, function(suggestion, $index) { %>
            <li class="suggestion <%= ($index == autocomplete.selectedSuggestionIx) ? 'selected' : '' %>"
                data-bind="event: {
                    mousedown: autocomplete.suggestionClickedFn.bind($data, suggestion)
                }">
                <div class="bar total" style="width: <%= (suggestion.freqDividedByModeFullDB * 100 + '%') %>"></div>
                <div class="suggested-value"><%= suggestion.suggestedValue %></div>
                <div class="absolute-freq"><%= recordCountFormat(suggestion.absoluteFrequencyFullDB) %></div>
                <div style="clear: both"></div>
            </li>
        <% }) %>
    </ul>
</script>
<script src="lib/require.js" data-main="release/bootstrap"></script>
</body>
</html>