html {
    font-family: Lato;
}
h2 {
    font-weight: normal;
    color: #3b5169;
}

.privar-box {
}

.dc-chart g.row text {
    fill: black;
}

text {
    font-family: Lato;
    font-size: 14px;
}

#all-vars-chart {
    float: none;
}

.sidebar {
    background: #ecf0f1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 340px;
    /* padding: 15px; */
    box-sizing: border-box;
    overflow-y: auto;
}

body {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

select#indepVarSelect {
    width: 100%;
    font-family: Lato;
}

.visualization-box {
    position: absolute;
    top: 0;
    left: 340px;
    right: 0;
    bottom: 0;
    overflow: auto;
    box-sizing: border-box;
    padding: 15px;
}

.explore-topbar {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    height: 40px;
    background: #2c3e50;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
}

.explore-body {
    position: absolute;
    top: calc(40px + 65px);
    bottom: 40px;
    left: 0;
    right: 0;
}

h1#topbar-title {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 0;
}

div#fake-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    background: #eee;
    padding: 5px 0 0 1px;
}

div#fake-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #894b9d;
    color: white;
    padding: 13px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.sidebar h2:first-child {
    margin-top: 5px;
}

div#visualization-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loading-box {
    background: #3b5169;
    padding: 20px 50px;
    border: 1px solid #894b9d;
    color: white;
}

.loading-box div {
    margin: 15px 0;
}

.loading-box h2 {
    color: #eee;
}

.loading-arrow {
    margin-right: 5px;
    /* visibility: hidden; */
}

.explore-topbar > * {
    display: inline-block;
    vertical-align: baseline;
}

div#number-records-box {
}

.buttons a {
    background: #894b9d;
    color: white;
}

a#download-yaml {
    margin-top: -5px;
    font-size: 12px;
}

#topbar-title {
    font-weight: bold;
}

svg {
    pointer-events: visiblepainted;
}


filter-shell {
    /* border: 1px solid lightgray; */
    /* padding: 10px; */
    display: block;
}

filter-shell .body {
    /* border: 1px solid lightgray; */
    min-height: 100px;
    position: relative;
}

.compound-filter {
    /* border: 1px solid #FF4D2F; */
    display: block;
}

.compound-filter .flag.all {
    background: #0F4CBA;
}
.compound-filter .flag.none {
    background: red;
}

.compound-filter .flag {
    color: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25px;
    padding: 5px;
    box-sizing: border-box;
}

.compound-filter .flag span {
    transform: rotate(90deg) translate(0px, -17px);
    transform-origin: 0 0px;
    display: block;
    width: 70px;
    /* height:100px; */
    color: #FFFFFF;
    /* border: 1px solid #B6B6EA; */
    text-align: left;
    /* margin-top: 0px; */
    text-transform: uppercase;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
}

.compound-filter .content {
    margin-left: 25px;
}
body {
    font-family: Lato, sans-serif;
}

he-app > filter-shell {
    width: 360px;
}

new-filter .matches a {
    display: block;
    cursor: pointer;
    background-color: #E3E8DF;
    margin: 0;
    padding: 4px 4px;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
filter-shell > .head {
    padding: 5px 5px 5px 0px;
    background: #2C3E50;
}

.drag-handle {
    width: 20px;
    display: inline-block;
    text-align: center;
    /* background: white; */
    color: #7F4995;
    cursor: move;
    top: -1px;
    position: relative;
    margin: 0;
}

span.filter-name {
    font-size: 15px;
    font-weight: bold;
    color: #7F4995;
    margin-left: 0;
    display: inline-block;
    margin-left: -4px;
}

button.remove-filter {
    float: right;
    border: none;
    background: none;
    color: #7F4995;
}

ul.matches {
    list-style: none;
    padding-left: 0;
}

ul.matches > li {
    margin: 0;
    padding: 0;
}

.matches p {
    margin: 0;
}

new-filter .matches a:hover {
    text-decoration: none;
    background: #4980D3;
    color: white;
}

button.remove-filter:hover, button.remove-filter:focus {
    background: #F8F8F8;
    /* color: white; */
}

.body.keyword-filter-body {
    padding: 5px;
}

span.filter-name.root-filter {
    margin-left: 6px;
    color: white;
}

filter-shell filter-shell .head {
    background: #D0D3D3;
}

filter-shell filter-shell filter-shell .head {
    background: #DEE0E0;
}

input {
    width: 100%;
    border: 1px solid lightgray;
    padding: 1px 3px;
}

new-filter {
    display: block;
}

filter-shell.gu-mirror > .head {
    background: #cfced5;
}

.suggestions .bar {
    display: block;
    height: 2px;
    background: #7F4995;
}

ul.suggestions {
    padding-left: 0;
    list-style: none;
}

.suggestion {
    padding: 5px;
    cursor: pointer;
}

.absolute-freq {
    float: right;
    font-size: 12px;
}

.suggested-value {
    float: left;
    font-weight: bold;
    font-style: italic;
}

.suggestion:focus, .suggestion:hover {
    background: white;
}
