<form data-bind="event: {submit: autocomplete.acceptSelected}">
    <input type="text" data-bind="
        textInput: ko.getObservable($data, 'valueTyped'),
        event: {keydown: autocomplete.keyPressed},
        attr: {
            placeholder: 'Filter by ' + filter.getLongName().toLowerCase() + '...'
        },
        hasFocus: ko.getObservable($data, 'focused')">

    <!-- ko component: {
        name: "suggestions-box",
        params: {
            autocomplete: autocomplete,
            template: 'choiceFilterAutocomplete'
        }
    } -->
    <!-- /ko -->
</form>