<div data-bind="attr: {class: flagClasses}">
    <a data-bind="text: flagText, click: toggleFilterType"></a>
</div>
<div class="content">
    <div class="children-filter" data-bind="dragula: {
        moves: dragulaMoves,
        accepts: dragulaAccepts,
        data: filter.children,
        group: 'filters'
    }" style="min-height: 100px;">
        <filter-shell params="{
            filter: $data,
            parentFilter: $parent.filter
        }"></filter-shell>
    </div>


    <new-filter params="{
        parentFilter: filter
    }"></new-filter>
</div>