<div class="head">
    <!-- ko if: !isRoot() -->
    <span class="drag-handle">
        <img src="img/drag-handle.svg">
    </span>
    <!-- /ko -->
    <span class="filter-name" data-bind="
        text: filter.getLongName(),
        css: {'root-filter': isRoot()}
    "></span>
    <!-- ko if: isRemoveAllowed() -->
    <button data-bind="click: removeFilter" class="remove-filter">
        <i class="fa fa-trash-o"></i>
    </button>
    <!-- /ko -->
</div>
<div class="body" data-bind="
     component: component,
     attr: {class: 'body ' + component.name}
"></div>