<form data-bind="event: {submit: autocomplete.acceptSelected}">
    <hep-bubble-focus>
        <input type="text" data-bind="
            textInput: ko.getObservable($parent, 'query'),
            hasFocus: ko.getObservable($parent, 'focused'),
            event: bubbleKeyHandlers($parent.autocomplete.keyPressed),
        " placeholder="Add new filter...">
        <hep-bubble params="element: $element, bubbleFocus: $data">
            <!-- ko template: {
                name: 'newFilterAutocomplete',
                data: {
                    autocomplete: $parents[1].autocomplete,
                    maxHeight: maxHeight,
                }
            } --><!-- /ko -->
        </hep-bubble>
    </hep-bubble-focus>
</form>