<form data-bind="submit: addSelectedFilter">
    <hep-bubble-focus>
        <input data-bind="textInput: query, hasFocus: true"
               placeholder="Add new filter...">
        <hep-bubble params="element: $element">
            <!-- ko template: {
                name: 'newFilterSuggestionsBox',
                data: {
                    getMatches: $parent.getMatches.bind($parent),
                    handleSearchResultMouseDown: $parent.handleSearchResultMouseDown,
                    maxHeight: maxHeight,
                }
            } --><!-- /ko -->
        </hep-bubble>
    </hep-bubble-focus>
</form>