<form data-bind="submit: addSelectedFilter">
    <!--<hep-bubble-focus>-->
        <input data-bind="textInput: query"
               placeholder="Add new filter...">
        <hep-bubble>
            <!-- ko template: {
                name: 'newFilterSuggestionsBox',
                data: {
                    getMatches: $parent.getMatches.bind($parent),
                    maxHeight: maxHeight
                }
            } --><!-- /ko -->
        </hep-bubble>
    <!--</hep-bubble-focus>-->
</form>