<div class="plot-box">
    <div class="canvas-onion" data-bind="embedDom: plot.canvasOnion"></div>
    <div>
        <span data-bind="text: plot.getPointCount()"></span> points.
        x: <span data-bind="text: plot.xScaleType"></span>
        y: <span data-bind="text: plot.yScaleType"></span>
    </div>
    <ul class="plot-legend" data-bind="foreach: plot.config.yVars">
        <li>
            <svg class="legend-circle" width="10" height="10" data-bind="if: $parent.plot.config.colorPolicy == 'per-variable'">
                <circle r="2.5" cx="5" cy="5" data-bind="attr: {
                    fill: $parent.plot.getLegendColorByVariable($data)
                }"></circle>
            </svg>
            <span class="legend-span" data-bind="latex: $data, attr: {title: $data}"></span>
        </li>
    </ul>
    <div class="controls" data-bind="if: controlsVisible">
        <button class="btn btn-primary" data-bind="click: showEditPlot">Edit plot</button>
    </div>
</div>