<form class="filter-form" data-bind="submit: function() { return false }">
    <label>
        <div>Expression:</div>
        <input type="text" data-bind="
            value: ko.getObservable(filter, 'value'),
            hasFocus: ko.getObservable($data, 'focused'),
        ">
    </label>

    <label style="display: block;">
        <input type="radio" name="mode" value="match"
               data-bind="checked: ko.getObservable(filter, 'mode')">
        <span>Natural text search</span>
    </label>

    <label style="display: block;">
        <input type="radio" name="mode" value="regexp"
               data-bind="checked: ko.getObservable(filter, 'mode')">
        <span>
            Regular expression
            <a href="javascript:;" data-bind="
                click: toggleRegexpInfo,
                text: regexpInfoVisible ? '(less info)' : '(more info)',
            "></a>
        </span>
    </label>

    <div class="regex-info" data-bind="visible: regexpInfoVisible">
        <p>
            You can use regular expressions to select table descriptions matching text patterns.
        </p><p>
            For instance, <code>.*(95|99)% cl.*</code> will match all tables whose description contain either <code>95% CL</code>
            or <code>99% CL</code>.
        </p>
        <p>
            The expressions use the
            <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-regexp-query.html" target="_blank">
                syntax from ElasticSearch
            </a>, which is based on Lucene.
        </p>

        <p>
            <b>Note (1):</b> Expressions are case sensitive, but the text is indexed
            as lowercase. Therefore only lowercase letters will return results.
        </p>

        <p>
            <b>Note (2):</b> Patterns are always anchored so you need to use <code>.*</code> at
            the beginning and at the end of an expression to search inside all
            the text.
        </p>
    </div>

    <label style="display: block;">
        <input type="checkbox" data-bind="checked: showMatches">
        Show matching descriptions
    </label>
    <div data-bind="if: showMatches">
        <div class="scroll-pane" style="height: 240px">
            <ul data-bind="foreach: getTableNames()" style="padding-left: 20px;">
                <li data-bind="text: $data" style="word-wrap: break-word"></li>
            </ul>
        </div>
    </div>
</form>